.receipt-container {
  display: flex;
}

.receipt {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 20px;
  padding: 20px;
  width: 30%;
}

.person-name {
  font-family: Helvetica;
}
